<h3>Angular Books :
    <ul>
        <li>Angular — The Complete Guide</li>
        <li>The Ng-book — The Complete Book on Angular</li>
    </ul>
</h3>

<h3>Node JS :
    <ul>
        <li> Node.js Design Patterns </li>
        <li> Get Programming with Node.js</li>
    </ul>
</h3>

<h3>Android : 
    <ul>
        <li>Android App Development for Dummies</li>
        <li>Android Programming for Beginners</li>
    </ul>
</h3>

<h3>Big Data : 
    <ul>
        <li>Big Data: Concepts, Technology and Architecture</li>
        <li> Big Data For Beginners</li>
    </ul>
</h3>

<h3>Artificial Intelligence :
<ul>
    <li>Artificial Intelligence: Learning Automation Skills with Python</li>
    <li>Automate the Boring Stuff with Python</li>
</ul>
</h3>